---
import Layout from "../layouts/Layout.astro";
---

<Layout title="rat bot dot org">
    <h1 class="main center">Rat Bot Dot Org</h1>

    <p class="main center">
        <marquee behavior="slide">
            <a>ratbot</a> is the one and only <b>discord bot</b>.
            <br />
            it is written in <i>python</i>.
        </marquee>
    </p>

    <p class="main center">
        <b>when you tell her "rat"...</b>
        <br />
        <marquee behavior="scroll"><i>she will tell you rat!</i></marquee>
    </p>

    <p class="main center">
        <a
            href="https://discord.com/oauth2/authorize?client_id=807262373147574312&scope=bot+applications.commands&permissions=412317187142"
            >invite ratbot to your server today!</a
        >
    </p>

    <p class="center">
        <marquee
            behavior="alternate"
            direction="down"
            scrolldelay="5"
            height="75"
            width="750"
            class="center"
        >
            <marquee behavior="alternate" scrolldelay="30" truespeed="">
                <a
                    href="https://discord.com/oauth2/authorize?client_id=807262373147574312&scope=bot+applications.commands&permissions=8"
                    >give her admin perms on your discord server today!</a
                >
            </marquee>
        </marquee>
    </p>
</Layout>

<style>
    body {
        color: cyan;
        font-family: "Comic Sans MS", "Comic Sans", sans;
        background-image: url("/xmasbck1-black.gif");
    }

    h1 {
        color: lightgreen;
        font-family: "Times";
    }

    b {
        color: green;
    }

    .main {
        width: 500px;
    }

    .center {
        margin: auto;
        text-align: center;
    }
</style>
